<div class="container mat-elevation-z8">
  <h2 class="title">Register</h2>

  <form class="form-verification" [formGroup]="formVerification" (ngSubmit)="verify()">
    <div class="form-line">
      <mat-form-field class="form-field">
        <mat-label>Code</mat-label>
        <input matInput formControlName="code" placeholder="Enter the code" required>
        <mat-hint>Please enter the verification code that we sent to your email</mat-hint>
      </mat-form-field>
    </div>

    <mat-error *ngIf="errorMessage">{{errorMessage}}</mat-error>

    <div class="form-actions">
      <button class="btn" mat-raised-button color="primary">Submit</button>
    </div>
  </form>
</div>
